@media(max-width: 648px){
    body{
        width: 100vw;
    }
}

@media(max-width: 646px){
    body{
        width: 100vw;
    }
    header{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 45px;
    }
    nav li{
        margin-bottom: 10px;
    }
    .topicos{
        background-image: none;
    }
}
@media(max-width: 490px){
    header{
        height: 150px;
    }
}
@media(max-width: 426px){
    header{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    header img {
        margin: 0;
        flex: 1;
        height: 90px;
        margin-top: 34px;
    }
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 45px;
    }
    nav li{
        margin-bottom: 10px;
        
    }
    .topicost li{
        width: 280px;
        margin: 0;
        margin-top: 20px;
    }
}

@media(max-width: 376px){
    body{
        width: 100vw;
    }
    header{
        height: 200px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    header img {
        margin: 0;
        flex: 1;
        height: 90px;
        margin-top: 15px;
        margin-left: 70px;
    }
    header ul{
        display: grid;
        margin-top: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 352px;
        align-items: center;
        margin-left: 14px;
        margin-top: 20px;
    }
    .hero-text{
        width: 280px;
        text-align: center;
        align-items: center;
        margin-left: 55px;

    }
    .hero-text h2{
        font-size: 40px;
        margin-top: 0px;
        padding-top: 60px;
    }
    .btn-hero{
        width: 20px;
        font-size: 15px;
        padding: 10px 25px;
    }
    .info{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        gap: 0px;
        margin-bottom: 15px;
        width: 360px;
    }

    .topicos{
        margin-left: 15px;
        background-color: #333333b9;
        padding: 20px;
        border-radius: 20px;
        background-image: none;
        width: 265px;
    }
    .topicost li{
        width: 230px;
        margin: 0;
        margin-top: 20px;
    }

    @media(max-width: 376px){
        body{
            width: 100vw;
        }
        header{
            height: 200px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;
        }
        header img {
            margin: 0;
            flex: 1;
            height: 90px;
            margin-top: 15px;
            margin-left: 45px;
        }
        header ul{
            display: grid;
            margin-top: 0px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 352px;
            align-items: center;
            margin-left: 14px;
            margin-top: 20px;
        }
        .hero-text{
            margin-left: 25px;

            width: 280px
        }
        .hero-text h2{
            font-size: 40px;
            margin-top: 0px;
            padding-top: 60px;
        }
        .btn-hero{
            width: 20px;
            font-size: 15px;
            padding: 10px 25px;
        }
        .info{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;
            gap: 0px;
            margin-bottom: 15px;
            width: 300px;
        }
    
        .topicos{
            margin-left: 15px;
            background-color: #333333b9;
            padding: 20px;
            border-radius: 20px;
            background-image: none;
            width: 215px;
        }
        .topicost li{
            width: 195px;
            margin: 0;
            margin-top: 20px;
        }
    }

}